:root{
    --text-6xl--line-height: calc(4 / 3.75);
    --default-font-family: 'Inter', sans-serif;
}
.card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 50px;
    min-height: 60px;
    text-align: center;
    box-sizing: border-box;
}

.hidden-card {
    background-color: #ccc;
    color: #ccc;
    box-sizing: border-box;
}